<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUDLFT Table</title>
</head>

<body>
    <h1>GUDLFT : Actual detail for each club !</h1>
    <p>Here you can consult the number of points available for each registered club : </p>
    </br>
    <table border=1>
        <tr>
            <th>Clubs registered</th>
            <th>Points available</th>
        </tr>
        {% for club in clubs %}
        <tr>
            <td>{{ club['name']}}</td>
            <td class="{{ club['name']}}">{{ club['points']}}</td>
        </tr>
        {% endfor %}
    </table>
    </br>
    <a href="{{ url_for('index') }}">Return to login ?</a>
</body>
</html>
